<head>
  <%- include('./partials/head'); %>
</head>

<body class="d-flex flex-column min-vh-100">
  <%- include('./partials/navbar') %>
    <main class="container">
      <h1 class="text-center">
        Login
      </h1>
      <p>An email has been sent to <%=email%> with an activation link. Go to this link to activate your acount. Click
          the button bellow to resend the email.</p>
      <button type="button" onclick="resendVerification('<%=email%>')" class="btn btn-primary">Resend</button>
      <p id="error" class="text-danger"></p>
    </main>

    <footer class="mt-auto">
      <%- include('./partials/footer'); %>
    </footer>

</body>

<script>
  function resendVerification(adress) {
    fetch('resendVerification', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        'email': adress
      })
    })
      .then(res => res.json())
      .then(res => {
        let errorText = document.getElementById('error');
        if (res.success) {
          errorText.innerHTML = "Activation email resent";
          errorText.setAttribute('class', 'text-success');
        } else {
          errorText.innerHTML = "Activation email failed to resend";
          errorText.setAttribute('class', 'text-danger');
        }
      });
  }
</script>