<head>
  <%- include('./partials/head'); %>
</head>

<body class="d-flex flex-column min-vh-100">
  <%- include('./partials/navbar') %>
  <main class="container">
    <% if (notFound) { %>
    <h1>User Not Found</h1>
    <% } else { %>
    <div class="container-fluid col-md-10">
      <div>
        <h1 class="text-center">
          <%=targetUser.username%>
        </h1>
      </div>
      <div id="info">
        <h5>About Me</h5>
        <p><%=targetUser.bio%></p>
        <% if (authenticated) { %>
        <a class="btn btn-primary" href="/settings">Edit</a>
        <% } %>
      </div>
      <hr>
      <div class="flex-container flex-wrap" id="transcriptions">
        <% transcriptions.forEach(transcription => { %>
        <div class="transcription flex-item flex-container" onclick="reroute('/transcription/<%=transcription.id%>')">
          <div class="flex-item" id="transcription-info">
            <h5 id="title"><%=transcription.title%></h5>
            <p class="text-muted"><%=transcription.cbUsername%></p>
          </div>
          <div class="flex-item" id="transcription-preview">
            <img
              src="/static/uploads/<%=transcription.path.substring(transcription.path.length - 33, transcription.path.length)%>"
              alt="preview" width="200" height="258" class="img-cover" />
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <% } %>
  </main>

  <footer class="mt-auto">
    <%- include('./partials/footer'); %>
  </footer>

</body>