<head>
  <%- include('./partials/head'); %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"
    integrity="sha512-Z8CqofpIcnJN80feS2uccz+pXWgZzeKxDsDNMD/dJ6997/LSRY+W4NmEt9acwR+Gt9OHN0kkI1CTianCwoqcjQ=="
    crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column min-vh-100">
  <%- include('./partials/navbar') %>
  <main class="container">
    <% if (notFound) { %>
    <h1>User Not Found</h1>
    <% } else { %>
    <div class="container-fluid col-md-10">
      <div>
        <h1 class="text-center">
          <%=targetUser.username%>
        </h1>
      </div>
      <div id="info">
        <h5>About Me</h5>
        <p><%=targetUser.bio%></p>
        <% if (authenticated) { %>
        <a class="btn btn-primary" href="/settings">Edit</a>
        <% } %>
      </div>
      <hr>
      <div class="flex-container flex-wrap" id="transcriptions">
        <% transcriptions.forEach(transcription => { %>
        <div class="transcription flex-item flex-container" onclick="reroute('/transcription/<%=transcription.id%>')">
          <div class="flex-item" id="transcription-info">
            <h5 id="title"><%=transcription.title%></h5>
            <a id="author" href="/user/<%=transcription.author%>"><%=transcription.author%></a>
            <p class="text-muted"><%=new Date(transcription.dateCreated).toLocaleDateString()%></p>

            <% let tags = JSON.parse(transcription.tags); %>
            <% for (let i = 0; i < ((tags.length < 4) ? tags.length : 4); i++) { %>
            <p class="tag-nohover"><%=tags[i]%></p>
            <% } %>

            <p id="numLikes" class="text-muted">👍 <%=JSON.parse(transcription.likes).length%> | 👎
              <%=JSON.parse(transcription.dislikes).length%></p>
          </div>
          <div class="flex-item" id="transcription-preview">
            <!-- Test it out -->
            <% if (transcription.mimetype == 'application/pdf') { %>
            <img src="/static/res/pdf.png" class="pdf-thumbnail" pdf-path="/uploads/<%=transcription.filename%>"
              width="200" height="258" />
            <% } else { %>
            <img src="/uploads/<%=transcription.filename%>" alt="preview" width="200" height="258" class="img-cover" />
            <% } %>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <% } %>
  </main>

  <footer class="mt-auto">
    <%- include('./partials/footer'); %>
  </footer>

  <script src="/static/js/pdf_utils.js"></script>
</body>