<head>
  <%- include('./partials/head'); %>
</head>

<body class="d-flex flex-column min-vh-100">
  <%- include('./partials/navbar') %>
    <main class="container">
      <h1 class="text-center">
        Reset Password
      </h1>
      <div class="col-md-3 col-centered">
        <div className="form-group">
          <label for="password">New Password</label>
          <input id="password" name="password" type="password" class="form-control" placeholder="Password" />
          <small>Create new password for for <%=email%>.</small>
        </div><br>

        <div className="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input id="confirmPassword" name="confirmPassword" type="password" class="form-control"
            placeholder="Confirm Password" />
        </div><br>

        <button onclick="submit()" class="btn btn-primary">Submit</button><br><br>
        <p id="errorText"></p>
      </div>
    </main>

    <footer class="mt-auto">
      <%- include('./partials/footer'); %>
    </footer>

</body>

<script>
  function errorText(status, err) {
    document.getElementById('errorText').innerHTML = err;
    if (status) {
      document.getElementById('errorText').setAttribute('class', 'text-danger');
    } else {
      document.getElementById('errorText').setAttribute('class', 'text-success');
    }
  }

  function submit() {
    const password = document.getElementById('password').value;
    const confirmPassword = document.getElementById('confirmPassword').value;

    if (password == '') {
      errorText(true, 'Password Field is Empty');
      return;
    }

    if (confirmPassword == '') {
      errorText(true, 'Confirm Password Field is Empty');
      return;
    }

    document.getElementById('errorText').innerHTML = "Loading...";

    fetch('/resetPassword', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        confirmPassword,
        password,
        email: "<%=email%>"
      })
    })
      .then(res => res.json())
      .then(res => {
        if (res.success) {
          errorText(false, res.message);
        } else {
          errorText(true, res.message);
        }
      });
  }
</script>