<head>
  <%- include('./partials/head'); %>
</head>

<body class="d-flex flex-column min-vh-100">
  <%- include('./partials/navbar') %>
  <main class="container">
    <h1 class="text-center">
      <%=user.username%>
    </h1>
    <form action="/settings" method="POST">
      <div class="form-group">
        <label for="bio">About Me:</label>
        <input type="text" class="form-control" name="bio" value="<%=user.bio%>">
        <small id="helpId" class="form-text text-muted">Update Bio</small>
      </div>
      <button type="settings" class="btn btn-primary">Update Settings</button>
    </form>
  </main>

  <footer class="mt-auto">
    <%- include('./partials/footer'); %>
  </footer>

</body>